@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --text: #cdd6f4;
    --subtext: #bac2de;
    --important: #f38ba8;
    --accent: #89b4fa;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--base);
}

h3 {
    font-size: 20pt !important;
    font-weight: 700 !important;
}

.Select-control {
    background-color: var(--crust) !important;
    border: none !important;
}

.Select.is-focused:not(.is-open)>.Select-control {
    box-shadow: none !important;
}

.Select-placeholder {
    color: var(--subtext) !important;
}

.Select-input {
    color: var(--text) !important;
}

.rc-slider * {
    background-color: var(--accent) !important;
    border: none !important;
}

.rc-slider-handle {
    background-color: var(--important) !important;
}

.rc-slider-mark-text {
    background-color: transparent !important;
    color: var(--subtext);
}

.rc-slider-mark-text-active {
    color: var(--text);
    font-weight: bold;
}

.Select-menu-outer {
    background-color: var(--mantle) !important;
    color: var(--text) !important;
    border: none !important;
}

.Select--multi .Select-value {
    background-color: var(--mantle) !important;
    color: var(--text) !important;
    border: none !important;
}

.Select-clear-zone:hover {
    color: var(--important) !important;
}

.Select-value-icon:hover {
    color: var(--important) !important;
    background-color: var(--crust) !important;
}

.Select-value-icon {
    border-right-color: var(--crust) !important;
}

.Select-value-label {
    color: var(--text) !important;
}

button,
.VirtualizedSelectFocusedOption {
    background-color: var(--accent) !important;
    color: var(--crust) !important;
}

.modebar {
    display: none !important;
}
